html, body {
  padding: 0;
  margin: 0;

  background-color: #4a525a;
  font-family: Verdana, "Bitstream Vera Sans", sans-serif;
  font-size: 11px;
}

#box {
  width: 720px;
  padding: 0;
  margin: 0 auto;
  margin-top: 64px;
}
#box > #logo {
  width: 240px;
  margin-left: 41px;
  margin-bottom: 70px;
}
#box > #logo > a > img{
  width: 100%;
}
#box > #logo > a > img:hover {
  background-color: #555e66;
}

#box > #sidebar {
  width: 160px;
  text-align: right;
  letter-spacing: 2px;

  float: left;
}
#box > #sidebar > p.author {
  color: #eee;
  margin-bottom: 53px;
}
#box > #sidebar > ul.sidebar-list {
  list-style-type: none;
  text-decoration: none;
}
#box > #sidebar > ul.sidebar-list > li {
  margin-bottom: 10px;
}
#box > #sidebar > ul.sidebar-list > li > a {
  color: #eee;
  text-decoration: none;
  padding: 5px 1px;
}
#box > #sidebar > ul.sidebar-list > li > a:hover {
  background-color: #555e66;
}
#box > #sidebar > div.sidebar-deck {
  color: #eee;

  position: bottom right;
  margin-top: 176px;
}
#box > #sidebar > div.sidebar-deck > ul.deck-list {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
#box > #sidebar > div.sidebar-deck > ul.deck-list > li.deck-img > a > img {
  width: 120px;
  height: 90px;
}
#box > #sidebar > div.sidebar-deck > ul.deck-list > li.deck-ads {
  margin-top: 10px;
}
#box > #sidebar > div.sidebar-deck > ul.deck-list > li.deck-ads > a {
  color: #eee;
  text-decoration: none;
  padding: 4px 1px 2px 1px;
  border-bottom: 1px solid white;
}
#box > #sidebar > div.sidebar-deck > ul.deck-list > li.deck-ads > a:hover {
  background-color: #555e66;
}
#box > #sidebar > div.sidebar-deck > ul.deck-list > li.deck-ads > span.text {
  color: #ccc;
  line-height: 1.7em;
}
#box > #sidebar > div.sidebar-deck > ul.deck-list > li.deck-via {
  margin-top: 25px;
}

#box > #main {
  float: left;

  padding: 0;
  margin: 0;
}
